<br>
<div *ngIf="news" >
  <mat-card class="example-card">
    <div style="text-align: center; margin-bottom: 20px;">
      <H2>
        {{news.Title}}
      </H2>
    </div>
    <img mat-card-image [src]="newsImage" alt="">
    <mat-card-content>
      <p>
        {{news.Info}}
      </p>
    </mat-card-content>
    <mat-card-actions *ngIf="IsAdmin()">
      <button mat-button (click)="editNews()" style="font-size: 18px;width: 100px;">EDIT</button>
      <button mat-button (click)="deleteNews()" style="font-size: 18px;width: 100px;">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>