<div *ngIf="news" style="margin: 0 100px;">
    <div [ngClass]="{title:true}">
        <h2>{{news.Title}}</h2>
    </div>
    <div style="text-align: right; margin-right: 10%;" *ngIf="IsAdmin()">
        <button mat-raised-button (click)="editNews()" style="margin-right: 10px;">Edit</button>
        <button mat-raised-button (click)="deleteNews()" style="margin-right: 10px;">Delete</button>
    </div>
    <div *ngIf="newsImage" style="display: flex;justify-content: center;">
        <img [src]="newsImage">
    </div>
    <article>
        {{news.Info}}
    </article>
</div>