
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.main {
    width: calc(100% - 50px);
}

#spinner {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 100%;
    z-index: 9999
}

@media only screen and (min-width: 1440px) {
    #spinner{
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        margin-top: 280px;
        width: 100%;
        z-index: 9999
    }
}

@media only screen and (max-width: 1024px) {
    #spinner{
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        margin-top: 280px;
        width: 100%;
        z-index: 9999
    }
}

@media only screen and (max-width: 768px) {
    #spinner{
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        margin-top: 300px;
        width: 100%;
        z-index: 9999
    }
}

@media only screen and (max-width: 425px) {
    #spinner{
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        width: 100%;
        z-index: 9999;
    }
}

::ng-deep .mat-tab-labels{
    justify-content: center; /* align items in Main Axis */
}

::ng-deep .mat-tab-header, .mat-tab-nav-bar {
    width: 80%;
}

::ng-deep .mat-tab-header{
    align-self: center;
}