<div class="sidebar" *ngIf="isUserLogin;">
    <ul>
        <li>
            <a routerLink="/" title="Home">
                <mat-icon style="color: black;">
                    home
                </mat-icon>
                      
            </a>
        </li>
        <li *ngIf="IsAdmin()">
            <a (click)="openRegisterDialog()" title="Create User">
                <mat-icon style="color: black;">
                    supervised_user_circle
                </mat-icon>
            </a>
        </li>
        <li>
            <a routerLink="users" title="Users">
                <mat-icon style="color: black;">
                    emoji_people
                </mat-icon>
            </a>
        </li>
        <li>
            <a routerLink="groups" title="Groups"> 
                <mat-icon style="color: black;">
                    supervisor_account
                </mat-icon>
            </a>
        </li>       
        <li>
            <a routerLink="schools" title="Schools"> 
                <mat-icon style="color: black;">
                    store
                </mat-icon>
            </a>
        </li>
        <li>
            <a (click)="logOut()" title="LogOut">
                <mat-icon style="color: black;">
                    power_settings_new
                </mat-icon>
            </a>
        </li>
    </ul>
</div>