table{

    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  .title{
    margin-left: 135px;
    margin-bottom: 30px;
  }
  
  h2 {
    margin: 0;
  }

  .text {
    max-height: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 100px;
  }