<mat-toolbar style="background-color: white; font-weight: bold; font-size:xxx-large;">
    <mat-toolbar-row>
        <span style="margin: auto;">Fenerbahce News</span>
        <button *ngIf="IsAdmin()" style="text-align: right; margin-right: 100px;" mat-raised-button routerLink="addnews"
            routerLink="addnews">
            <mat-icon _ngcontent-c1="" class="mat-icon material-icons" role="img" aria-hidden="true">
                add
            </mat-icon>
            Add News
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<br>

<div>
    <mat-card class="example-card mt-12" *ngFor="let item of news">
        <mat-card-header>
            <mat-card-title class="title">{{item.Title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span class="text">
                {{item.Info}}
            </span>
            <mat-card-subtitle style="margin-top: 15px; font-weight: bold;">
                Created: {{item.CreateDate | date:'d MMMM yyyy'}}
            </mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/news/{{item.NewsId}}">
                <mat-icon _ngcontent-c1="" class="mat-icon material-icons" role="img" aria-hidden="true">
                    visibility
                </mat-icon>
                More
            </button>
            <button *ngIf="IsAdmin()" mat-button (click)="deleteNews(item.NewsId)">
                <mat-icon _ngcontent-c1="" class="mat-icon material-icons" role="img" aria-hidden="true">
                    delete
                </mat-icon>
                Delete
            </button>
        </mat-card-actions>
    </mat-card>
</div>