table{

    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  .title{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: x-large;
  }
  
  h2 {
    margin: 0;
  }

  .text {
    max-height: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  
  .example-card{
      margin-top: 5px;
      margin-left: 135px;
      margin-bottom: 30px;
      width: 500px;
      display: inline-block !important;
      box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
                0 1px 1px 0 rgba(0,0,0,1), 
                0 1px 3px 0 rgba(0,0,0,1);
  }

  
  .action-buttons{
      text-align: center;
      margin-left: 135px;
       margin-bottom: 30px;
  }
  
  .example-container {
      width: 100%;
      height: auto;
      border: 1px solid rgba(111, 111, 111, 0.50);
  }
  
  .example-sidenav-content {
      display: flex;
      height: 75%;
      align-items: center;
      justify-content: center;
  }
  
  .example-sidenav {
      padding: 20px;
  }
  
  .source-name {
      margin-left:5px; 
  }
  
  .list-item:hover{
      cursor: pointer;
      background-color: #3f51b5;
      color: white;
  }