<mat-toolbar style="background-color: white; font-weight: bold; font-size:xxx-large; margin-bottom: 15px;">
    <mat-toolbar-row>
        <span style="margin: auto;">Groups</span>
    </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="groups.length > 0">
    <table mat-table [dataSource]="groups" class="mat-elevation-z8">
        <ng-container matColumnDef="GroupName">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"><a routerLink="/group/{{element.GroupId}}"> {{element.GroupName}}</a></td>
        </ng-container>

        <ng-container matColumnDef="SportName">
            <th mat-header-cell *matHeaderCellDef> Sport </th>
            <td mat-cell *matCellDef="let element"> {{element.SportName}}</td>
        </ng-container>

        <ng-container matColumnDef="SchoolName">
            <th mat-header-cell *matHeaderCellDef> School </th>
            <td mat-cell *matCellDef="let element"><a routerLink="/school/{{element.SchoolId}}"> {{element.SchoolName}}</a></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div style="text-align: right; margin-right: 10%;" *ngIf="IsAdmin()">
    <button style="text-align: right" mat-raised-button (click)="openDialog()">Add Group</button>      
</div>